global:
  security:
    allowInsecureImages: true

mysql:
  enabled: true
  image:
    registry: docker.io
    repository: bitnamilegacy/mysql
    tag: "8.0.37-debian-12-r2"
  auth:
    rootPassword: "root"
    database: "my_database"
  persistence:
    enabled: true
    size: 5Gi

kafka:
  enabled: true
  fullnameOverride: testing-app-kafka
  image:
    registry: docker.io
    repository: bitnamilegacy/kafka
    tag: "3.9.0-debian-12-r0"
  kraft:
    enabled: true
  controller:
    replicaCount: 3
    controllerOnly: true
  broker:
    replicaCount: 3
  persistence:
    enabled: true
    size: 8Gi
  podSecurityContext:
    enabled: true
    fsGroup: 1001
  containerSecurityContext:
    enabled: true
    runAsUser: 1001
  listeners:
    client:
      protocol: PLAINTEXT
    interbroker:
      protocol: PLAINTEXT
    controller:
      protocol: PLAINTEXT
    external:
      protocol: PLAINTEXT
  extraEnvVars:
    - name: KAFKA_CFG_AUTO_CREATE_TOPICS_ENABLE
      value: "true"
    - name: KAFKA_CFG_OFFSETS_TOPIC_REPLICATION_FACTOR
      value: "3"
    - name: KAFKA_CFG_TRANSACTION_STATE_LOG_REPLICATION_FACTOR
      value: "3"
    - name: KAFKA_CFG_TRANSACTION_STATE_LOG_MIN_ISR
      value: "2"
    - name: KAFKA_CFG_DEFAULT_REPLICATION_FACTOR
      value: "3"
    - name: KAFKA_CFG_MIN_INSYNC_REPLICAS
      value: "2"
  externalAccess:
    enabled: true
    autoDiscovery:
      enabled: false
    broker:
      service:
        type: NodePort
        domain: localhost
        ports:
          external: 9094
        nodePorts:
          - 30001
          - 30002
          - 30003

kafka-ui:
  enabled: true
  envs:
    config:
      KAFKA_CLUSTERS_0_NAME: "local"
      KAFKA_CLUSTERS_0_BOOTSTRAPSERVERS: "testing-app-kafka:9092"
      DYNAMIC_CONFIG_ENABLED: "true"
      SERVER_SERVLET_CONTEXT_PATH: "/kafka"
  ingress:
    enabled: true
    ingressClassName: "nginx"
    host: "localhost"
    path: "/kafka"
    pathType: "Prefix"

elasticsearch:
  enabled: true
  image:
    registry: docker.io
    repository: bitnamilegacy/elasticsearch
    tag: "9.1.2-debian-12-r1"
  security:
    enabled: false
    tls:
      restEncryption: false
      autoGenerated: false
  persistence:
    enabled: true
    size: 10Gi

kibana:
  enabled: true
  image:
    registry: docker.io
    repository: bitnamilegacy/kibana
    tag: "9.1.2-debian-12-r1"
  elasticsearch:
    hosts:
      - "elasticsearch"
    port: 9200
    security:
      auth:
        enabled: false
      tls:
        enabled: false
  ingress:
    enabled: true
    ingressClassName: "nginx"
    host: "localhost"
    path: "/kibana"
    pathType: "Prefix"

logstash:
  enabled: true
  image:
    registry: docker.io
    repository: bitnamilegacy/logstash
    tag: "9.1.2-debian-12-r1"
  extraEnvVars:
    - name: ELASTICSEARCH_HOST
      value: "elasticsearch"
    - name: ELASTICSEARCH_PORT
      value: "9200"
  output: |-
    elasticsearch {
      hosts => ["${ELASTICSEARCH_HOST}:${ELASTICSEARCH_PORT}"]
      manage_template => false
      index => "logstash-%{+YYYY.MM.dd}"
    }
