apiVersion: v1
kind: ConfigMap
metadata:
  name: app-config
data:
  config.json: |
    {
      "VITE_API_URL": "http://react-app.local/ui",
      "VITE_KEYCLOAK_URL":"http://keycloak:8080",
      "VITE_KEYCLOAK_SECRET": "Xbn5JQ71nFt8wD5Gk5HVD2Qcmng899k4"
    }
  keycloak-db.sql: |
    CREATE DATABASE IF NOT EXISTS keycloak;
    CREATE USER IF NOT EXISTS 'keycloak'@'%' IDENTIFIED BY 'keycloakpass';
    GRANT ALL PRIVILEGES ON keycloak.* TO 'keycloak'@'%';
    FLUSH PRIVILEGES;
    CREATE USER IF NOT EXISTS 'keycloak'@'localhost' IDENTIFIED BY 'keycloakpass';
    CREATE USER IF NOT EXISTS 'root'@'localhost' IDENTIFIED WITH mysql_native_password BY 'root';
    GRANT ALL PRIVILEGES ON *.* TO 'root'@'%';
    FLUSH PRIVILEGES;    
  # Numele cheii de mai jos va fi numele fișierului creat în container
  realm-export.json: |
    {
      "id": "rsk",
      "realm": "rsk",
      "enabled": true,
      "registrationAllowed": true,
      "clients": [
        {
          "clientId": "react-client",
          "protocol": "openid-connect",
          "publicClient": true,
          "standardFlowEnabled": true,
          "directAccessGrantsEnabled": true,
          "redirectUris": [
            "http://localhost:5174/*",
            "http://localhost:5000/*",
            "http://react-app.local/*"
          ],
          "webOrigins": [
            "+"
          ],
          "attributes": {
            "pkce.code.challenge.method": "S256",
            "post.logout.redirect.uris": "+"
          }
        },
        {
          "clientId": "spring-api",
          "protocol": "openid-connect",
          "bearerOnly": false,
          "publicClient": false,
          "secret": "your-secret-key-here-change-in-production",
          "standardFlowEnabled": false,
          "directAccessGrantsEnabled": false,
          "serviceAccountsEnabled": false,
          "authorizationServicesEnabled": false
        },
        {
            "clientId": "registration-service",
            "name": "Registration Service Client",
            "protocol": "openid-connect",
            "publicClient": false,
            "bearerOnly": false,
            "standardFlowEnabled": false,
            "implicitFlowEnabled": false,
            "directAccessGrantsEnabled": false,
            "serviceAccountsEnabled": true,
            "publicClient": false,
            "clientAuthenticatorType": "client-secret",
            "secret": "my-secret-keycloak", 
            "fullScopeAllowed": true,
            "redirectUris": [],
            "webOrigins": [],
            "defaultClientScopes": [
              "openid",
              "profile"
            ]
          }        
      ],
      "users": [
        {
          "username": "test",
          "enabled": true,
          "emailVerified": true,
          "credentials": [
            {
              "type": "password",
              "value": "test",
              "temporary": false
            }
          ],
          "realmRoles": [
            "USER"
          ],
          "clientRoles": {
            "account": [
              "view-profile"
            ]
          }
        },
        {
          "username": "admin",
          "enabled": true,
          "emailVerified": true,
          "credentials": [
            {
              "type": "password",
              "value": "admin",
              "temporary": false
            }
          ],
          "realmRoles": [
            "ADMIN"
          ]
        }        
      ]
    }